@model Wydatek

<h1>Edytuj wydatek</h1>
@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}
@* @Html.ValidationSummary() *@
<form method="post">
    <fieldset>
        @* <input type="text" name="task" value="@Model.Nazwa" asp-asp-for="Nazwa"/><br />
        <input type="date" name="date1" value="@Model.Termin" asp-asp-for="Termin"/><br />
        <input type="number" step="1" name="id" value="@Model.IdPracownika" asp-asp-for="IdPracownika"/><br />
        <input type="hidden" name="taskid" value="@Model.IdZadania" asp-asp-for="IdZadania"/><br /> *@

        <input type="number" name="liczba1" value="@Model.Kwota" asp-asp-for="Kwota"/><br />
        <input type="text" name="nazwa1" value="@Model.Cel" asp-asp-for="Cel"/><br />
        <input type="number" name="liczba2" step="1" value="@Model.IdPracownika" asp-asp-for="IdPracownika"/><br />

        <p><input type="submit" name="buttonSubmit" value="Zapisz zmiany" /></p>
    </fieldset>
</form>