@model IEnumerable<Pracownik>

<h2>Lista Pracowników</h2>

<form asp-action="ListaPracownikow" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Szukaj imienia, nazwiska lub id pracownika: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <button type="submit">Szukaj</button>
            <a asp-action="ListaPracownikow">Resetuj</table></a>
        </p>
    </div>
</form>

<h5>Sortuj według:</h5>
<tr>
    <th>
        <a asp-action="ListaPracownikow" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model =>
                        model.Imie)</a>
    </th>
    <th>
        <a asp-action="ListaPracownikow" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model =>
                        model.Funkcja)</a>
    </th>
    <th></th>
</tr>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Funkcja</th>
            <th>Id Wydarzenia</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var p in Model)
    {
        <tr>
            <td>@p.IdPracownika</td>
            <td>@p.Imie</td>
            <td>@p.Nazwisko</td>
            <td>@p.AdresEmail</td>
            <td>@p.Funkcja</td>
            <td>@p.IdWydarzenia</td>
            <td> <a asp-action="UsunPracownika" asp-route-id="@p.IdPracownika">Usuń</a></td>
        </tr>
    }
    </tbody>
</table>