@model IEnumerable<Zadanie>

<h2>Lista Zadań</h2>

<form asp-action="ListaZadan" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Szukaj nazwy lub id pracownika: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <button type="submit">Szukaj</button>
            <a asp-action="ListaZadan">Resetuj</table></a>
        </p>
    </div>
</form>

<h5>Sortuj według:</h5>
<tr>
    <th>
        <a asp-action="ListaZadan" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model =>
                        model.IdPracownika)</a>
    </th>
    <th>
        <a asp-action="ListaZadan" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model =>
                        model.Termin)</a>
    </th>
    <th></th>
</tr>

<table class="table">
    <thead>
        <tr>
            <th>IdZadania</th>
            <th>IdPracownika</th>
            <th>Nazwa</th>
            <th>Termin</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var w in Model)
        {
            <tr>
                <td>@w.IdZadania</td>
                <td>@w.IdPracownika</td>
                <td>@w.Nazwa</td>
                <td>@w.Termin</td>
                <td> <a asp-action="UsunZadanie" asp-route-id="@w.IdZadania">Usuń</a></td>
                <td> <a asp-action="EdytujZadanie" asp-route-id="@w.IdZadania">Edytuj</a></td>
            </tr>
        }
    </tbody>
</table>